<h2 class="first center">Create your account</h2>
<form [formGroup]="registerForm" (ngSubmit)="register($event)" class="ui-g ui-fluid">
<div class="ui-g-12 ui-md-6">
    <!-- User -->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username" name="user" formControlName="user" required>         
        </div>
    </div>

    <!-- Email -->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi">@</i></span>
            <input type="email" pInputText placeholder="Email" name="email" formControlName="email" required>        
        </div>
    </div>
    
    <!--Pass -->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input type="{{ passVisible ? 'text': 'password'}}" pPassword placeholder="Password" name="passwd" formControlName="pass" required>
            <span class="ui-inputgroup-addon click" (click)="passVisible = !passVisible"><i class="fa fa-eye"></i></span>      
        </div>
    </div>

    <!--Pass Confirm -->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input appPasswordConfirm type="{{ passConfVisible ? 'text': 'password'}}" pPassword placeholder="Confirm password" name="passwdConf" formControlName="passConf" required>
            <span class="ui-inputgroup-addon click" (click)="passConfVisible = !passConfVisible"><i class="fa fa-eye"></i></span>      
        </div>
        <div *ngIf="registerForm.errors?.passwordMatch && (registerForm.touched || registerForm.dirty)" class="cross-validation-error-message alert alert-danger">
            Password didn't matched.
        </div>
    </div>
    <div class="ui-g-12 ui-md-12">
        <p-button label="Register" icon="pi pi-check" iconPos="left" type="submit" class="ui-button-raised" style="width:100%"></p-button>
    </div>
    </div>
</form>
